<!DOCTYPE html>
<html lang="en">
<head>
      {{>headerlink}}
</head>
<body>
     {{>navbar}}

     <!-- Main Header -->
     <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- Right -->
                <div class="col-md-12 col-12 main_header_left align-items-centre">
                    <figure class="errimg">
                       <img src="https://3kllhk1ibq34qk6sp3bhtox1-wpengine.netdna-ssl.com/wp-content/uploads/2017/12/44-incredible-404-error-pages@3x-1560x760.png" alt="stark" class="img-fluid" title="stark-industry">
                    </figure>
                

                <!-- Left -->
                {{!-- props --}}
                    <p>Welcome to Stark Industry</p>
                    <h1>{{errMsg}}</h1>
                    <a href="/"><button>Head back to Home</button></a>
                </div>
            
                

          </div>
          </div>
          </div>
     </div>        






     <!-- Footer -->
     {{>footer}}
</body>
</html>