<!DOCTYPE html>
<html lang="en">
<head>
      {{>headerlink}}
</head>
<body>
     {{>navbar}}

     <!-- Main Header -->
     <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- Right -->
                <div class="col-md-6 col-12 main_header_right align-items-centre">
                    <figure>
                       <img src="images/IMG_20190725_124946.jpg" alt="stark" class="img-fluid" title="stark-industry">
                    </figure>
                </div> 

                <!-- Left -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Stark Industry</p>
                    <h1>I'm A <span class="text_clr">Full Stack Developer</span> and Metaverse Enthusatic.</h1>
                    <a href="https://starkrajput.github.io/Profile/"><button>Profile</button></a>

                </div>
                

          </div>
          </div>
          </div>
     </div>        






     <!-- Footer -->
     {{>footer}}
</body>
</html>