<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
     

      {{>navbar}}



     <!-- Main Header -->
     <div class="container-fluid main_header">
       <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            
                 <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="Search" id="submitBtn"> 
                    </form>
                 </div>


                 <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_data">14 AUGUST</p>
                    </div>

                    <div class="main_layer">
                        <p id="city_name">Output</p>
                        {{!-- data_hide -not using --}}
                        <div class="middle_layer  ">
                             <p id="temp"><span class="temp_real_val">0</span><sup>o</sup></p>
                             <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                 </div>
                
  


          
          </div>
        </div>
     </div>        






     {{>footer}}

     <script src="js/main.js"></script>
</body>
</html>